{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-8 col-sm-11">
				<div id="item-form">
					{% csrf_token %}                                        
	                <div class="form-group">
	                	<label for="name">Name</label>
	                    <input type="text" required="true" class="form-control" id="name" name="name" placeholder="Name">
	                </div>
	                <div class="form-group">
	                    <label for="description">Description</label>
	                    <textarea class="form-control" placeholder="Description" id="description" name="description"></textarea>
	                </div>
	                <div id="custom-fields-div">
	                	
	                </div>
	                </div>
	                <input type="hidden" name="id" id="id" value=0 />
	                <button class="btn btn-default btn-sm" id="add-field-btn">Add field</button>
					<button class="btn btn-success btn-sm" id="save-btn">Save</button>                
	            </form>
            </div>
		</div>		
	</div>
	<script src = "{% static 'js/add_item.js' %}"></script>
{% endblock %}