{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container main-container">
		{{collection.name}}
		{{collection.id}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<form id="item-form" method="post" action="{% url 'add_item' collection.id %}">
					{% csrf_token %}
	                {{collectionItemForm}}	                
	                <input type="hidden" name="id" id="id" value="{{collection.id}}" />
	                <button class="btn btn-success btn-sm" id="save-btn">Save</button>                
	            </form>
            </div>
		</div>		
	</div>
{% endblock %}