{% extends 'base.html' %}

{% block content %}
	<div class="container main-container">
		{% csrf_token %}
		<div class="row">
			<ul class="item-list">
				{%for collection in object_list %}
					<li class="col-lg-4 scale-fade">
						<div class="item-main item-collection">
							<div class="item-collection-name">
								<h4><a href="{% url 'list_collection_items' id=collection.id %}">{{collection.name}}</a></h4>
							</div>
							<hr>
							<div class="item-collection-body">
								<p>{{collection.description}}
							</div>
							<div class="footer item-collection-footer">
								<a class="btn btn-sm btn-default" href="{% url 'edit_collection' id=collection.id %}">Edit</a>
							</div>											
						</div>
					</li>
				{%endfor%}
			</ul>
		</div>
		<div id="div1">
			<a class="btn btn-success" href="{% url 'create_collection' %}">New Collection</a>
		</div>
		<a class="floating-button" title="New Collection">
			<i class="glyphicon glyphicon-arrow-up">
			</i>
		</a>
	</div>
	<script>
		
	</script>
{% endblock %}

