{% extends 'base.html' %}

{% block content %}
	<div class="container main-container">
		<div class="row">
			<form method="post" action="{% url 'edit_collection' collectionForm.id.value %}">
			    {% csrf_token %}
			    <div class="form-group">
                	<label for="name">Name</label>
                	{{collectionForm.name}}                    
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    {{collectionForm.description}}
                </div>
                <div class="form-group">
	                <div class="checkbox">
						<label>
					      {{collectionForm.isPrivate}} Is Private
					    </label>
					</div>					
				</div>
				<input type="hidden" name="id" id="id" value={{collectionForm.id.value}} />
				<button class="btn btn-success btn-sm" type="submit">Save</button>                
            </form>
		</div>		
	</div>
{% endblock %}