{% extends 'base.html' %}

{% block content %}
	<div class="container main-container">
		<div class="row">
			<form method="post" action="{% url 'edit_collection' collectionForm.id.value %}">
			    {% csrf_token %}                                        
                <div class="form-group">
                	<label for="name">Name</label>
                    <input type="text" required="true" class="form-control" id="name" name="name" placeholder="Name" value={{collectionForm.name.value}}>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" placeholder="Description" id="description" name="description">{{collectionForm.description.value}}</textarea> 
                </div>
                <div class="form-group">
	                <div class="checkbox">
						<label>
					      {{collectionForm.isPrivate}} Is Private
					    </label>
					</div>					
				</div>
				<input type="hidden" name="id" id="id" value={{collectionForm.id.value}} />
				<button class="btn btn-success btn-sm" type="submit">Save</button>                
            </form>
		</div>		
	</div>
{% endblock %}