{% extends 'base.html' %}

{% block content %}
	<div class="container main-container">
		{% csrf_token %}
		<div class="row">
			<ul class="item-list">
				{%for item in collectionItems %}
					<li class="col-lg-4 scale-fade">
						<div class="item-main item">
							<div>
								<h4><a href="">{{item.name}}</a></h4>
							</div>
							<hr>
							<div class="row" style="margin: 0">
								<img class="pull-left item-thumbnail-img" src="http://www.3000toys.com/images/NORSCOT/55212.jpg"/>
								<img class="pull-left item-thumbnail-img" src="http://www.3000toys.com/images/NORSCOT/55212.jpg"/>
								<img class="pull-left item-thumbnail-img" src="http://www.3000toys.com/images/NORSCOT/55212.jpg"/>
								<img class="pull-left item-thumbnail-img" src="http://www.3000toys.com/images/NORSCOT/55212.jpg"/>
							</div>
							<hr>
							<div>
								<p>{{item.description}}</p>
							</div>
							{% for key, value in item.customFields.items%}
							<div>
								<p>{{key}}: {{value}}</p>
							</div>
							{% endfor %}
							<div class="footer">
								<a class="btn btn-sm btn-default" href="{% url 'edit_item' collectionId=collection.id itemId=item.id %}">Edit</a>
							</div>
						</div>
					</li>
				{%endfor%}
			</ul>
		</div>
		<div id="div1">
			<a class="btn btn-success" href="{% url 'create_item' collectionId=collection.id %}">New Item</a>
		</div>
		<a class="floating-button" title="New Item">
			<i class="glyphicon glyphicon-arrow-up">
			</i>
		</a>
	</div>
	<script>
		
	</script>
{% endblock %}

